name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            goos: linux
            goarch: amd64
            artifact_name: runsql
          - os: ubuntu-latest
            goos: linux
            goarch: arm64
            artifact_name: runsql
          - os: windows-latest
            goos: windows
            goarch: amd64
            artifact_name: runsql.exe
          - os: macos-latest
            goos: darwin
            goarch: amd64
            artifact_name: runsql
          - os: macos-latest
            goos: darwin
            goarch: arm64
            artifact_name: runsql
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'
    
    - name: Cache Go modules
      uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    
    - name: Download dependencies
      run: go mod download
    
    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
      run: go build -o ${{ matrix.artifact_name }} ./cmd/runsql
    
    - name: Compress artifact (Unix)
      if: matrix.goos != 'windows'
      run: tar czf runsql-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz ${{ matrix.artifact_name }}
    
    - name: Compress artifact (Windows)
      if: matrix.goos == 'windows'
      run: powershell Compress-Archive -Path ${{ matrix.artifact_name }} -DestinationPath runsql-${{ matrix.goos }}-${{ matrix.goarch }}.zip
    
    - name: Upload Unix artifact
      if: matrix.goos != 'windows'
      uses: actions/upload-artifact@v3
      with:
        name: runsql-${{ matrix.goos }}-${{ matrix.goarch }}
        path: runsql-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz
    
    - name: Upload Windows artifact
      if: matrix.goos == 'windows'
      uses: actions/upload-artifact@v3
      with:
        name: runsql-${{ matrix.goos }}-${{ matrix.goarch }}
        path: runsql-${{ matrix.goos }}-${{ matrix.goarch }}.zip

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Download all artifacts
      uses: actions/download-artifact@v3
    
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        draft: false
        prerelease: false
        generate_release_notes: true
        files: |
          runsql-linux-amd64/runsql-linux-amd64.tar.gz
          runsql-linux-arm64/runsql-linux-arm64.tar.gz
          runsql-windows-amd64/runsql-windows-amd64.zip
          runsql-darwin-amd64/runsql-darwin-amd64.tar.gz
          runsql-darwin-arm64/runsql-darwin-arm64.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
